.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
.git/**
.DS_Store
*.vsix
*.code-workspace
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
